fastapi[standard]==0.139.0
strawberry-graphql[fastapi]==0.320.1
websockets==16.0
sqlalchemy==2.0.51
pydantic_settings==2.14.2
asyncpg==0.31.0
bcrypt==5.0.0
PyJWT==2.13.0
alembic==1.18.5
python-slugify==8.0.4
