fastapi[standard]==0.135.3
strawberry-graphql[fastapi]==0.312.2
websockets==16.0
sqlalchemy==2.0.49
pydantic_settings==2.13.1
asyncpg==0.31.0
bcrypt==5.0.0
PyJWT==2.12.1
alembic==1.18.4
python-slugify==8.0.4
